.logo-image:hover {
  opacity: 0.8; /* Reduce opacity on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}
  .team-manager-link {
    font-weight: bold;
  }

.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(74, 94, 112, 0.747);
}
  