body {
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(-45deg, #263CD9, #D9C326);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.5);
}

img {  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }
 #not-valid {
    color: red;
 }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}